##
KERNEL-SEM/KERNEL_FILES
KERNEL-SEM/RAY_PARAMETER/
KERNEL-SEM/TEST_MODELS/
KERNEL-SEM/src/OUTPUTS_BAK
KERNEL-SEM/src/OUTPUTS_CUR
KERNEL-SEM/src/TMP/
KERNEL-SEM/tmp.txt
MATLAB-CODE/FUNCTIONS/OLD/
MIGRA/
OUTPUT/
JUNK
*.m~
._*
OUTPUT_FILES*
*.err
*.out
*.pyc
*.eps
.DS_Store
